# Python Virtual Environment
backend/curators_venv/

# Python cache files
__pycache__/

# VSCode specific settings
.vscode/

# Node.js dependencies
frontend/node_modules/

# Environment variables
backend/.env